.datos-corr-txt{
	flex-shrink: 3;
	column-count: 2;
	column-width: 280px;
	column-gap: 25px;
	column-rule: 1px solid lightgray;
}
.slider .card{
	/* height: 46.9vw; */
	min-height: 133px;
	/* max-height: 214.28px; */
	overflow: hidden;
}
.cab-corr-ob {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.slider-container{
	position:relative;
}
.tns-nav{
	display:none;
}

.tns-outer{
	/* width:85%; */
	margin:auto;
}
.controls {
    margin-left: -4%!important;
    width: 108%!important;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
	color:white;
	z-index: 1;
    left: 0;    
    /* background: #333; */
    width: 100%;    
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.controls:focus{
	outline: none;
}
.controls li{
	opacity: .6;
	border: 1px solid var(--azul);
}
.controls li:hover{
	opacity:1;
}



.controls .btn:focus{
	box-shadow: none!important;
}
/* xs */
@media screen and (max-width: 576px) {
	.cab-corr-ob {
		height: 100px;
	}
}
/* sm */
@media screen and (min-width: 576px) {
	.cab-corr-ob {
		height: 130px;
	}
}
/* md */
@media screen and (min-width: 768px) {
	.cab-corr-ob {
		height: 140px;
	}

}

@media screen and (min-width: 1200px) {
	.cab-corr-ob {
		height: 200px;
	}
	.catalogo .card, .slider .card{
		height: 210.4px!important;
	}
}
@media screen and (min-width: 1400px) {
	.catalogo .card, .slider .card {
		height: 246.4px!important;
	}
}