<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/jpg" href="/img/favicon.png"/>

	<!--jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--BootStrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<!-- 	validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	<!-- estilos -->
	<link rel="stylesheet" href="css/comun.css">
	<link rel="stylesheet" href="css/explorar.css">
	<link rel="stylesheet" href="css/artista.css">
	<link rel="stylesheet" href="../static/css/comun.css">
	<link rel="stylesheet" href="../static/css/explorar.css">
	<link rel="stylesheet" href="../static/css/artista.css">
	<!-- js -->
	<script src="js/general.js"></script>
	<script src="js/validaForms.js"></script>

	<title th:text="${artistaSelec.nombre + ' | Arty'}">Artista | Arty</title>
</head>

<body class="d-flex flex-column h-100">
	<header th:insert="/plantilla::header"></header>
	<main class="flex-shrink-0 mb-5">
		<div class="container">
			<!-- breadcrumb -->
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index">Inicio</a></li>
				<li class="breadcrumb-item"><a href="explorar">Explorar</a></li>
				<li class="breadcrumb-item"><a href="explorar-artistas">Artistas</a></li>
				<li class="breadcrumb-item" active aria-current="page" th:text="${artistaSelec.nombre}">Artista
					seleccionado</a>
				</li>
			</ol>


			<div>
				<!-- imagen -->
				<div class="w-100 text-center div-img">
					<h2 class="text-center" th:text="${artistaSelec.nombre}">Nombre
						artista</h2>
					<img th:src="@{${'img/artistas/' + artistaSelec.imagen}}"
						src="../static/img/artistas/caravaggio.jpg" alt=""
						class="rounded-circle m-auto border shadow-sm img-fluid">
				</div>
				<!-- información -->
				<div>
					<!-- titulo -->
					<div class="">
						<!-- <h2 class="text-center" th:text="${artistaSelec.nombre}">Nombre
							artista</h2>
						<h3 class="text-center text-secondary fs-6"
							th:text="${artistaSelec.fechaNac +'-'+ artistaSelec.fechaMuerte}">Fecha
							nacimiento - muerte</h3> -->
					</div>
					<!-- detalles + descripccion -->
					<!-- <div class="border"> -->
					<div class="d-flex flex-column flex-md-row mt-3 ">
						<!-- descripción -->
						<div class="order-1 flex-shrink-3 mt-3 mt-md-0 me-md-5 descripcion">
							<h4>Descripción</h4>
							<div th:text="${artistaSelec.descripcion}" class="desc-text">Descripción
							</div>
						</div>
						<!-- detalles -->
						<div class="order-md-1">
							<div class="detalles p-3 rounded">
								<h3 class="fs-5 text-center">Detalles</h3>
								<div class="d-flex flex-wrap  my-2">
									<span class="fw-bold me-2">Fecha:</span>
									<p class="m-0" th:text="${artistaSelec.fechaNac +'-'+ artistaSelec.fechaMuerte}">
										Fecha</p>
								</div>
								<div class="d-flex flex-wrap  my-2">
									<span class="fw-bold me-2">Corriente artística:</span>
									<form action="corriente-obras" onclick="submit()"
										th:each="corriente : ${listaCorrientes}"
										th:if="${artistaSelec.codCorriente == corriente.codCorriente}">
										<p class="m-0 ref-art" th:text="${corriente.nombre}">Corriente
										</p>
										<input type="hidden" name="codCorr" th:value="${corriente.codCorriente}" />

									</form>
								</div>
								<div class="d-flex flex-wrap  my-2">
									<span class="fw-bold me-2">Nacionalidad:</span>
									<p class="m-0" th:text="${artistaSelec.nacionalidad}">Nacionalidad</p>
								</div>

								<div class="d-flex flex-wrap" th:if="${listaArtistasRel.size > 1}">
									<span class="fw-bold me-2">Artistas relacionados:</span>
									<form action="artista-obras" class="" onclick="submit()"
										th:each="art : ${listaArtistasRel}">

										<p th:if="${art.codArtista != artistaSelec.codArtista}" th:text="${art.nombre}"
											class="ref-art m-0">Artistas
											relacionados</p>
										<input type="hidden" name="codArt" th:value="${art.codArtista}" />
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- </div> -->
				</div>
			</div>

			<!-- CATÁLOGO -->
			<div class="catalogo mt-3" th:if="${!listaObrasArtista.empty}">
				<h3>Catálogo</h3>
				<div class="container-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 "
					id="listaObrasArtista">
					<div class="col" th:each="obra : ${listaObrasArtista}">
						<div class="card bg-dark text-white">
							<form action="obra" onclick="submit()">
								<img th:src="@{${'img/obras/' + obra.imagen}}" class="card-img" alt="imagen de artista">
								<div class="card-img-overlay card-img-obra">
									<h5 th:text="${obra.titulo}" class="card-title fs-6">Nombre
										de la obra</h5>
									<div class="card-subtitle fs-6 text-light">
										<p class="card-text" th:text="${obra.fecha}">Nacionalidad</p>
									</div>
								</div>
								<input type="hidden" name="codObra" th:value="${obra.codObra}" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer d-sm-flex justify-content-center mt-auto py-3" th:insert="/plantilla::footer"></footer>
</body>

</html>