<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/jpg" href="/img/favicon.png"/>

	<!--BootStrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<!--jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- 	validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	<!-- estilos -->
	<link rel="stylesheet" href="css/comun.css">
	<link rel="stylesheet" href="css/explorar.css">
	<link rel="stylesheet" href="../static/css/explorar.css">
	<link rel="stylesheet" href="../static/css/comun.css">
	<!-- js -->
	<script src="js/general.js"></script>
	<script src="js/explorarArtistas.js"></script>
	<script src="js/validaForms.js"></script>
	<script src="../static/js/explorarArtistas.js"></script>

	<title>Artistas | Arty</title>
</head>

<body class="d-flex flex-column h-100">
	<header th:insert="/plantilla::header"></header>
	<main class="flex-shrink-0 mb-5">
		<div class="container">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index">Inicio</a></li>
				<li class="breadcrumb-item"><a href="explorar">Explorar</a></li>
				<li class="breadcrumb-item" active aria-current="page">Artistas</a>
				</li>
			</ol>
			<div class="row">
				<div class="col col-xl-6  offset-lg-3 offset-xxl-2">
					<h1 class="text-center text-lg-start">Artistas</h1>
					<!-- Barra de búsqueda -->
					<div class="input-group barra-busqueda">
						<input type="search" class="form-control form-control-dark"
							placeholder="Busca por nombre, corriente artísica o nacionalidad."
							aria-label="Buscar artista" id="input-buscar" data-form-type="">
						<button class="btn bg-gradient" type="button" id="boton-busqueda">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</div>

			<!-- filtros + artistas -->
			<div class="row d-lg-flex">
				<!-- filtros -->
				<div class="col-lg-3 col-xxl-2 mt-lg-3">
					<!-- categorias -->
					<button type="button" class="btn btn-categorias bg-gradient w-100 mt-3 mt-lg-0 d-lg-block"
						id="boton-categorias">Buscar
						por categorías</button>
					<div class="d-lg-flex" id="categorias">
						<ul class="w-100 list-group" aria-labelledby="boton-categorias">
							<li class="list-group-item"><a class="d-block text-decoration-none text-black"
									href="explorar">Obras</a></li>
							<li class="list-group-item border-bot"><a class="d-block text-decoration-none text-black"
									href="explorar-corrientes">Corrientes artísticas</a></li>
						</ul>
					</div>

					<button type="button" class="btn btn-filtrar bg-gradient w-100 mt-3">Filtrar artistas</button>
					<!-- filtros -->
					<div id="filtros" class="">
						<form action="">
							<div class="accordion" id="panelFiltros">
								<!-- orden -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelFiltros-orden-header">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#panelFiltros-orden"
											aria-expanded="true" aria-controls="panelFiltros-orden">Ordenar</button>
									</h2>

									<div id="panelFiltros-orden" class="accordion-collapse collapse"
										aria-labelledby="panelFiltros-orden-header">
										<div class="accordion-body">
											<div class="form-check">
												<input class="form-check-input" type="radio" name="orden" id="ordendesc"
													value="desc">
												<label class="form-check-label" for="ordendesc">
													Cronológico
													desc</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="orden" id="ordenasc"
													value="asc"> <label class="form-check-label" for="ordenasc">
													Cronológico
													asc</label>
											</div>
										</div>
									</div>
								</div>
								<!-- época -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelFiltros-epoca-header">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#panelFiltros-epoca"
											aria-expanded="true" aria-controls="panelFiltros-epoca">Época</button>
									</h2>

									<div id="panelFiltros-epoca" class="accordion-collapse collapse"
										aria-labelledby="panelFiltros-epoca-header">
										<div class="accordion-body d-flex pe-0">

											<div class="slider-wrapper">
												<label for="sigloRange" class="form-label w-100">Siglo <span
														id="epoca-span">-</span></label>
												<input type="range" class="form-range" min="12" max="21" value="12"
													step="1" id="sigloRange" onchange="filtroSiglo()">

											</div>
											<button type="button" class="btn p-1 align-self-end"
												aria-label="borrar filtro por siglos" onclick="resetSiglo()"><i
													class="bi bi-x"></i>
											</button>

										</div>
									</div>
								</div>

								<!-- Corriente -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelFiltros-corrientes-header">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#panelFiltros-corrientes"
											aria-expanded="true"
											aria-controls="panelFiltros-corrientes">Corriente</button>
									</h2>
									<div id="panelFiltros-corrientes" class="accordion-collapse collapse"
										aria-labelledby="panelFiltros-corrientes-header">
										<div class="accordion-body p-0">

											<ul class="list-group w-100">
												<li class="list-group-item border-start-0 border-end-0 p-0"
													th:each="corriente : ${listaCorrientes}">
													<input type="checkbox" class="btn-check radio-corriente"
														name="corriente" th:id="${corriente.nombre}" id="corriente"
														th:attr="value = ${corriente.nombre}" value="corriente">
													<label th:for="${corriente.nombre}" for="corriente"
														th:text="${corriente.nombre}" class="btn  w-100 text-start">
														corriente artística
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<!-- nacionalidad -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="panelFiltros-nacionalidades-header">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#panelFiltros-nacionalidades"
											aria-expanded="true"
											aria-controls="panelFiltros-nacionalidades">Nacionalidad</button>
									</h2>
									<div id="panelFiltros-nacionalidades" class="accordion-collapse collapse"
										aria-labelledby="panelFiltros-nacionalidades-header">
										<div class="accordion-body p-0">
											<ul class="list-group w-100">
												<li class="list-group-item border-start-0 border-end-0 p-0"
													th:each="nacionalidad : ${listaNacionalidades}">
													<input type="checkbox" class="btn-check radio-nacionalidad"
														name="nacionalidad" th:id="${nacionalidad}"
														th:attr="value = ${nacionalidad}">
													<label th:for="${nacionalidad}" for="" th:text="${nacionalidad}"
														class="btn w-100 text-start">
														Ubicación
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- ARTISTAS -->
				<div class="col-lg div-artistas">
					<div class="container-cards row row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-3 mt-3"
						id="listaArtistas">
						<div class="col col-artista" th:each="artista : ${listaArtistas}"
							th:data-nombre="${artista.nombre}" th:data-nacionalidad="${artista.nacionalidad}"
							th:data-fecha="${artista.fechaNac}">
							<div class="card bg-dark text-white" th:each="corriente : ${listaCorrientes}"
								th:if="${artista.codCorriente == corriente.codCorriente}"
								th:data-corriente="${corriente.nombre}">
								<form action="artista-obras" onclick="submit()">
									<img th:src="@{${'img/artistas/' + artista.imagen}}"
										src="../static/img/artistas/albertodurero.jpg" class="card-img"
										alt="imagen de artista">
									<div class="card-img-overlay">
										<h5 th:text="${artista.nombre}" class="card-title fs-6">Nombre
											del artista</h5>
										<div class="card-subtitle fs-6 text-light">
											<p class="card-text m-0 small"
												th:text="${artista.fechaNac + '-' + artista.fechaMuerte}">
												Fecha
												nac - Fecha muerte</p>
										</div>
									</div>
									<input type="hidden" name="codArt" th:value="${artista.codArtista}" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer d-sm-flex justify-content-center mt-auto py-3" th:insert="/plantilla::footer"></footer>
</body>

</html>